<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <a href="">
            <img src="img/logo Programadores do amanhã.svg" alt="">
        </a>
        <nav>
            <ul class="nav-list">
                <li><a href="#" class="active">STUDANT</li>
                <li><a href="#"><img class="login" src="img/login.png" alt="lala"></a></li>
            </ul>


        </nav>
    </header>

    <section>

        <div class="row1">

            <div class="presentatin">

            </div>

            <div class="presentatin2">
                <h2 id="wellcome">&lt;WELLCOME TO THE PLATFORM PROGAMADORES DO AMANHÃ! &frasl; &gt;</h1>
            </div>
        </div>
    </section>

    <section>
        <h1 class="headings"></h1>
        <div class="row">
            <div class="box">
                <main>
                    <div class="platform">

                        <img src="img/activities.png" alt="lala">

                    </div>
                    <h1 class="headings">ACTIVITIES</h1>


                    <button type="button">OPEN</button>

                </main>

            </div>

            <div class="box">
                <main>
                    <div class="platform">
                        <img src="img/menssages1.png" alt="lala">
                    </div>
                    <h1 class="headings">MESSAGES</h1>
                    <p>
                        <button type="button">OPEN</button>
                    </p>
                </main>
            </div>
            <div class="box">
                <main>
                    <div class="platform">
                        <img src="img/zoom.png" alt="lala">

                    </div>
                    <h1 class="headings">CALLS VIDEO</h1>
                    <p>
                        <button type="button">OPEN</button>
                    </p>
                </main>
            </div>
        </div>
    </section>
    <section id="section-intuito-pagina">
        <div class="div-intuito-pagina">
            <div class="div-titulo-intuito-pagina">
                <h1 class="titulo-intuito-pagina">HOW TO USE THIS PLATAFORM:</h1>
            </div>
            <div class="div-corpo-intuito-pagina">
                <p class="corpo-intuito-pagina">
                    The three main functionalities of the stutent jouney, are included in PDA plataform.
                    everything involved on your PDA student routine,
                    is here, take a look: <br>
                    <br>1. <strong> COMUNITY:</strong> Our official messaging channel for PDA community.
                    Here you can meet you collegues to share ideias, experiences and learnings, and also recieve
                    official announcements from the
                    management team.
                    <br>2. <strong> LIVE CLASS ROOM:</strong> Here the magic happens! It is here where you are going to
                    meet the crowd, your programming,
                    soft skills and english teachers to have your classes in live video calls.
                    <br>2. <strong> ACTIVITIES CHANNEL:</strong> Here you will find all PDA studying material, your
                    activities,
                    forms, classes schadules, Mini learning maps, project descriptions,
                    and others. here comes a little tip for you: be aware to always keep up on your delivering
                    deadlines.
                </p>
            </div>
            <div class="div-botao-intuito-pagina">
                <p>YOU JUST ARRIVED AND DON´T KNOW WHO WE ARE?</p>
                <a href="https://programadoresdoamanha.org/"><button>Acess our web page here</button></a>
            </div>
        </div>
    </section>

    <section id="section-apresentacao-equipe">
        <div class="div-titulo-equipe">
            <img src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/equipe (1).png">
            <h1>MEET THE TEAM BEHIND THIS PROJECT:</h1>
        </div>

        <div class="div-equipe">

            <div class="foto-roberto">
                <div class="foto-equipe"><img src="/view/imagens equipe/Roberto.jpeg" style="height: 288px; width: 235px;"></div>
                <p>Roberto Leão</p>
                <div class="icone-equipe">
                    <a href="https://www.linkedin.com/in/roberto-le%C3%A3o-323935239/"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/linkedin.png"></a>
                    <a href="https://github.com/Betoojs"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/logotipo-do-github.png"></a>
                </div>

            </div>
            <div class="foto-ingrid">
                <div class="foto-equipe"><img src="/view/imagens equipe/Ingrid.jpg" style="height: 288px; width: 235px;" >
                </div>
                <p>Ingrid Oliveira</p>
                <div class="icone-equipe">
                    <a href="https://www.linkedin.com/in/ingrid-oliveira-75bb02263/" ><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/linkedin.png"></a>
                    <a href="https://github.com/iingridliveira"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/logotipo-do-github.png"></a>
                </div>

            </div>
            <div class="foto-daniel">
                <div class="foto-equipe"><img src="/view/imagens equipe/daniel.png"></div>
                <p>Daniel Alves</p>
                <div class="icone-equipe">
                    <a href="https://www.linkedin.com/in/daniel-alves-488143279/"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/linkedin.png"></a>
                    <a href="https://github.com/zedaesquina1"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/logotipo-do-github.png"></a>
                </div>

            </div>
            <div class="foto-janine">
                <div class="foto-equipe"><img src="/view/imagens equipe/janine.png" style="height: 288px; width: 235px;"></div>
                <p>Janine Cruz</p>
                <div class="icone-equipe">
                    <a href="https://www.linkedin.com/in/janine-cruz-5b1851277/"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/linkedin.png"></a>
                    <a href="https://github.com/JanineCruz921"><img
                            src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/logotipo-do-github.png"></a>
                </div>
            </div>
            <div class="foto-elzo">
                <div class="foto-equipe"><img src="/view/imagens equipe/felzoítalo.jpg"
                        style="height: 288px; width: 235px;"></div>
                <p>Elzo Ítalo</p>
                <div class="icone-equipe">
                    <a href="https://www.linkedin.com/in/elzo-%C3%ADthallo-3a670822b/"><img src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/linkedin.png"></a>
                    <a href="https://github.com/ithalloelzo"><img src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/logotipo-do-github.png"></a>
                </div>
            </div>
        </div>

    </section>

    <footer id="footer-pagina">
        <div class="logo-footer">
            <img src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/logo Programadores do amanhã.svg" class="logo-pda">
        </div>
        <div class="redes-socias-footer">
            <a href="https://www.linkedin.com/school/programadoresdoamanha/posts/?feedView=all"><img
                    src="/view/Icones_e_logos_plataforma_PDA/Ícones e logos plataforma PDA/linkedin.png"></a>
            <a href="https://www.instagram.com/programadoresdoamanha/#"><img
                    src="/view/img/instagram.png"></a>
        </div>
    </footer>

</body>

</html>