body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
}

#section-intuito-pagina {
    background-color: rgb(36, 7, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 41rem;
    width: 78.98rem;
    padding-block-end: 5rem;
}

.div-intuito-pagina {
    background-color: rgb(121, 26, 90);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 25rem;
    width: 50rem;
    border-radius: 2px;
}

.div-titulo-intuito-pagina h1 {
    background-color: rgb(255, 251, 0);
    color: rgb(36, 7, 42);
    width: 35rem;
    height: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

.div-corpo-intuito-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45rem;
    font-size: 18px;
    text-align: start;
}

.div-corpo-intuito-pagina p {
    color: rgb(255, 255, 255);
}

.div-botao-intuito-pagina button {
    background-color: rgb(255, 251, 0);
    color: rgb(36, 7, 42);
    border-style: none;
    height: 2.8rem;
    width: 17rem;
    border-radius: 1px;
    font-weight: 900;
}

.div-botao-intuito-pagina button:hover {
    background-color: rgb(180, 108, 0);
    color: white;
}


#section-apresentacao-equipe {
    background-color: black;
    height: 40rem;
    width: 78.98rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

#section-apresentacao-equipe h1,p {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div-titulo-equipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50rem;
    align-items: center;
}

.div-titulo-equipe img{
    height: 5rem;
    width: 5rem;
}

.div-equipe img {
    height: 2.8rem;
    width: 2.8rem;
}

.div-equipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 30rem;
    width: 75rem;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
}

.foto-equipe {
    height: 16rem;
    width: 14rem;
    border-radius: 3px;
    background-color: rgb(121, 26, 90);
}

.icone-equipe {
    display: flex;
    justify-content: space-around;
    margin-left: 3rem;
    width: 8rem;
}

#footer-pagina {
    height: 9.5rem;
    width: 78.98rem;
    background-color: rgb(36, 7, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.redes-socias-footer img {
    height: 2rem;
    width: 2rem;
}

.logo-footer img {
    height: 10rem;
    width: 15rem;
    margin-right: 7rem;
}

.redes-socias-footer {
    display: flex;
    justify-content: space-around;
    width: 15rem;
}